@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

$globalColor: #1f73cf;
$globalColor2: #1e2e60;
$simpleColor: #fff;
$globalFont: "Barlow", sans-serif;
$globalFont2: "Ubuntu", sans-serif;

* {
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: $simpleColor;
  scroll-behavior: smooth;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin button {
  background: $globalColor;
  padding: 12px 50px;
  font-family: $globalFont;
  border-radius: 5px;
  &:hover {
    background: transparent;
    border: 1px solid $globalColor;
  }
  &:active {
    background: $globalColor;
  }
}

body {
  margin: 0;
  padding: 0;
}

// Header style
header {
  display: flex;
  flex-direction: column;
  .first-header {
    @include flex;
    background: $globalColor2;
    padding: 20px 80px;
    .nav-info {
      display: flex;
      gap: 2rem;
      a {
        font-family: $globalFont;
      }
    }
    .networks {
      display: flex;
      gap: 2rem;
      a {
        font-size: 1.2rem;
      }
    }
  }
  .second-header {
    @include flex;
    top: 63px;
    background: $globalColor;
    padding: 20px 80px;
    z-index: 999;
    position: fixed;
    width: 100%;
    transition: 0.5s ease-in-out;
    .logo {
      font-size: 2rem;
      font-family: $globalFont2;
      display: flex;
      align-items: center;
      img {
        width: 10%;
        margin-right: 20px;
      }
    }
    .navigation {
      display: flex;
      gap: 3rem;
      z-index: 1;
      a {
        font-size: 1.2rem;
        font-family: $globalFont;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &.sticky {
      top: 0;
      position: fixed;
      width: 100%;
    }
    .hamburger {
      display: none;
    }
  }
  @media only screen and (max-width: 1370px) {
    .first-header {
      padding: 14px 60px;
    }
    .second-header {
      padding: 12px 60px;
      top: 50px;
      .logo {
        img {
          width: 9%;
        }
      }
      .hamburger {
        display: none;
        padding: 5px;
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    .first-header {
      padding: 15px 20px;
      flex-direction: column;
      .nav-info {
        display: flex;
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;

        a {
          padding: 10px 0px;
          margin: 0;
        }
      }
    }
    .second-header {
      z-index: 999;

      top: 100px;
      padding: 5px 20px;
      .logo {
        font-size: 1.5rem;
        img {
          width: 15%;
          margin-right: 3px;
        }
      }
      .navigation {
        position: absolute;
        display: inline;
        background: $globalColor;
        top: 70px;
        width: 100%;
        left: 0;
        height: 0vh;
        text-align: center;
        padding: 0 20px;
        transition: 0.5s ease-in-out;
        li {
          border-bottom: 1px solid $simpleColor;
          padding: 20px 0px;
          display: none;
          a {
            margin: 10px 0px;
          }
        }
        &.active {
          height: 30vh;
          padding-top: 30px;
          li {
            display: block;
          }
        }
      }
      .hamburger {
        display: block;
        .fa-xmark {
          display: none;
        }
        .fa-bars {
          font-size: 1.5rem;
        }
        &.active {
          .fa-xmark {
            display: block;
            font-size: 1.5rem;
          }
          .fa-bars {
            display: none;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 420px) {
    .first-header {
      padding: 15px 20px;
      flex-direction: column;
      .nav-info {
        flex-direction: column;
        text-align: center;
        gap: 0;
        a {
          padding: 10px 0px;
          margin: 0;
        }
      }
    }
    .second-header{
      top: 140px;
      .logo{
        img{
          width: 25%;
        }
      }
    }
  }
}

// Home style
#home {
  background: url(../images/hero-bg.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px #00000079;
  @include flex;
  .home-title {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    h1 {
      font-family: $globalFont2;
      font-size: 2.6rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 25px;
    }
    a {
      @include button();
    }
  }
  @media only screen and (max-width: 1024px){
    padding: 10px 20px;
    .home-title{
      width: 100%;
      margin-left: 0;
      p{
        font-family: $globalFont2;
      }
    }
  }
}
#news{
  background-color: $simpleColor;
  width: 100%;
  padding-bottom: 20px;
  h1{
    font-family: $globalFont;
    color: $globalColor2;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 50px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(https://daryo.uz/cache/2020/06/photo_2020-06-19_08-02-09-1280x905.jpg);
  }
  .news{
    padding: 0 30px;
    .janaliqlar{
      padding-top: 20px;
      display: flex;
      align-items: center;
      img{
        width: 600px;
        border-radius: 10px;
      }
      p{
      color: $globalColor;
        font-size: 1.3rem;
        font-family: $globalFont2;
        padding: 40px;
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    .news{
      .janaliqlar{
        img{
          width: 400px;
        }
        p{
          font-size: .8rem;
          padding: 10px;
        }
    }
      
    }
  }
  @media only screen and(max-width:420px){
    h1{
      font-size: 1.3rem;
      padding: 20px;
    }
    .news{
      padding: 0 10px;
      .janaliqlar{
        img{
          width: 200px;
        }
        p{
          font-size: .5rem;
          padding: 10px;

        }
    }
  }
}
}
#rahbariyat{
  width: 100%;
  height: 100vh;
  
  h1{
    font-family: $globalFont;
    color: $globalColor2;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 50px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(https://daryo.uz/cache/2020/06/photo_2020-06-19_08-02-09-1280x905.jpg);
  }
  .cards{
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    .card{
      flex-direction: column;
      border: 1px solid $globalColor;
      border-radius: 10px;
      padding: 10px;
    margin: 10px;
text-align: center;
      img{
        width: 270px;
        height: 370px;
        border-radius: 10px;
      }
      .user-name{
        display: inline;
        .span{
          border-bottom: 1px solid $globalColor2;
          margin: 10px;
          padding-bottom: 10px;
        }
        span{
          color: $globalColor;
          font-size: 1.2rem;
          text-align: center;
          display: inline-block;
            i{
              color: #000;
            }
          }
      }
      
    }
  }
  @media only screen and (max-width:1300px){
    .cards{
      grid-template-columns: auto auto auto;
    }
  }
  @media only screen and (max-width:1024px){
    h1{
      padding: 20px;
    }
    .cards{
      grid-template-columns: auto auto;
    }
  }
  @media only screen and (max-width:1024px){
    h1{
      font-size: 1.3rem;
      padding: 10px;
    }
    .cards{
      grid-template-columns: auto;
    }
  }
}